// Partial-specific variables
// =========================
$allModules_spinnerBkgColor: rgba(0, 0, 0, .33) !default;
$allModules_spinnerBkgBorderRadius: 0 !default;

$allModules_visitAppBtnColor: $white !default;
$allModules_visitAppBtnBorderColor: $white !default;
$allModules_visitAppBtnColorInvert: $gray !default;
$allModules_visitAppBtnBorderColorInvert: $gray !default;

$allModules_cycleDotWidth: 8px !default;
$allModules_cycleDotBkg: transparent !default;
$allModules_cycleDotBorder: 1px solid $white !default;
$allModules_cycleDotBkgHover: transparentize($white, .5) !default;
$allModules_cycleDotBorderHover: 1px solid $white !default;
$allModules_cycleDotBkgActive: $white !default;
$allModules_cycleDotBorderActive: 1px solid $white !default;
$allModules_cycleDotBorderRadius: $allModules_cycleDotWidth !default;

// Global variables (overridden for this partial only)
// =========================

// Partial-specific code
// ==================================================

.module {
    position: absolute;
    overflow: hidden;
    z-index: 1;

    &.transitionAnim {
        @include transition(transform 400ms ease, opacity 400ms ease-in-out);
    }

    // START module-liner
    .module-liner {
        position: relative;
        margin: $g5ModuleGutter;
        @include module_moduleLiner(1, 1);
        overflow: hidden;

        // include the default module background and force it to run with default values as set in _variables.scss
        @include module_moduleLinerBackground($force: true);

        // width and height transitions may slow down animations
        // and they might not really add much visually
        // @include transition(width .4s ease, height .4s ease);

        -webkit-font-smoothing: antialiased;
    }

    &.grid-dimension-2x1 .module-liner {
        @include module_moduleLiner(2, 1);
    }
    &.grid-dimension-2x2 .module-liner {
        @include module_moduleLiner(2, 2);
    }
    &.grid-dimension-4x2 .module-liner {
        @include module_moduleLiner(4, 2);
    }
    &.grid-dimension-4x4 .module-liner {
        @include module_moduleLiner(4, 4);
    }
    // END module-liner


    // START spin
    .spin {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: (-1 * $spinner_widthHeight / 2 - 10) 0 0 (-1 * $spinner_widthHeight / 2 - 10);
        padding: 10px;
        width: $spinner_widthHeight;
        height: $spinner_widthHeight;
        @include safeBkgs($allModules_spinnerBkgColor);
        @include borderRadiusSlim($allModules_spinnerBkgBorderRadius);
    }
    .spinner {
        top: 50% !important;
        left: 50% !important;

        .lt-ie8 & {
            margin-top: -10px;
            margin-left: -10px;
        }
    }
    // END spin


    // START visitAppBtn
    .visitAppBtn {
        position: absolute;
        top: $g5ModuleVisitAppButtonOffset;
        right: $g5ModuleVisitAppButtonOffset;
        /* bugzilla[64400] Changed to high value because plateau awards was hiding the button when it had more than 10 slides */
        z-index: 100;

        /*Fix IE flickering in IE9 when full sized next button is used*/
        background-color: rgba(1,1,1,.001);

        @include opacity(.5);
        @include transition-property(opacity);
        @include transition-duration(0.25s);

        .lt-ie9 & {
            //this is a fix for ie7/8/9 with clicking on module tiles. The visitAppBtn gets made the size of the module, but IE won't capture clicks on it without this background fix
            background: url(../img/ieCleaPicFix.png);
        }

        &:link{ text-decoration:none; }
        &:hover{ @include opacity(1); text-decoration:none; }

        i {
            @include circledAwesomeIcon(
                $fontSize: 19px,
                $lineHeight: 21px,
                $color: $allModules_visitAppBtnColor,
                $borderColor: $allModules_visitAppBtnBorderColor
            );
            // -webkit-font-smoothing: antialiased;
        }

        &.invert {
            i {
                @include circledAwesomeIconRecolored(
                    $color: $allModules_visitAppBtnColorInvert,
                    $borderColor: $allModules_visitAppBtnBorderColorInvert
                );
                // -webkit-font-smoothing: antialiased;
            }
        }

        .lt-ie9 & {
            i {
                font-size: 21px;
                padding-top: 2px;
                margin-right: -4px;
                cursor: pointer;
            }
        }
    }
    // END visitAppBtn


    // START main-nav
    .nav-tabs {
        padding-left: 4px !important;
    }
    // END main-nav


    // START wide-view
    .wide-view {
        padding: $g5ModulePadding;
    }

        // START module carousel
        // note: indented because it's a child of wide-view, but I'm not sure we want to nest the selectors at this point
        // note: all properties that are variable-dependent are part of the module_cycleDots() mixin
        .cycleLegend {
            position: absolute;
            bottom: 0;
            z-index: 50;
            max-width: 100%;

            .cycleDot {
                display: inline-block;
                cursor: pointer;

                &.selected,
                &.selected:hover {
                    cursor: default;
                }
            }
        }
        @include module_cycleDots(
            $cycleDotWidth: $allModules_cycleDotWidth,
            $cycleDotBkg: $allModules_cycleDotBkg,
            $cycleDotBorder: $allModules_cycleDotBorder,
            $cycleDotBkgHover: $allModules_cycleDotBkgHover,
            $cycleDotBorderHover: $allModules_cycleDotBorderHover,
            $cycleDotBkgActive: $allModules_cycleDotBkgActive,
            $cycleDotBorderActive: $allModules_cycleDotBorderActive,
            $cycleDotBorderRadius: $allModules_cycleDotBorderRadius
        );
        // END module carousel
    // END wide-view


    // START title-icon-view
    .title-icon-view {
        padding: 0;
        height: ($g5ModuleUnit ) - ($g5ModuleGutter * 2);
        line-height: ($g5ModuleUnit ) - ($g5ModuleGutter * 2);
        // -webkit-font-smoothing: antialiased; // makes light-on-dark text look a bit better

        h3 {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            padding-top: 0; // for multiple lines
            // width: 100%;
            line-height: 1/*.25*/;
            // *line-height: 1.2; // ie7 chops off danglers
            text-align: center;
            vertical-align: middle;
            // gross ie7 hack
            // *margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0");
        }

        [class^="icon-g5-"],
        [class*=" icon-g5-"] {
            position: absolute;
            top: 37.5%;
            left: 50%;
            text-align: center;

            // NOTE: icon-g5-drawtool sits on the baseline. The default measurement is calibrated for that icon at a 108px font-size (1x1 default size)
            @include g5HomeAppIconBoxReflect();

            &:before {
                vertical-align: text-bottom;
            }
        }
        @include module_titleIconViewFonticonsSizes(1);

        @include module_titleIconView($force: true);
    }
    // END title-icon-view



    &.grid-dimension-1x1,
    &.grid-dimension-2x1 {
        @include module_visitAppBtnFullModule(
            $iconVisible: false
        );
        .wide-view {
            display: none;
        }
    }

    &.grid-dimension-1x1 {
        .title-icon-view {
            h3 {
                bottom: $g5ModuleGutter * 1.5;
                padding: 0 ($g5ModulePadding / 2);
                max-height: nth($g5ModuleTitleFontSizes, 1) * 1/*.25*/ * 2; // we're going to assume that the default font size is chosen thoughtfully so 2 rows fit nicely under the icon
                // width: auto;
                // font-size: 18px; // magic number // see font-sizes section below
            }
        }
    }

    &.grid-dimension-2x1 {
        .title-icon-view {
            h3 {
                display: inline-block;
                @include ie7-inline-block();
                position: static;
                padding: 0 7% 0 42%;
                max-height: nth($g5ModuleTitleFontSizes, 2) * 1/*.25*/ * 4; // we're going to assume that the default font size is chosen thoughtfully so 4 rows fit nicely inside the full height of the module
                // width: auto;
                text-align: left;
            }

            [class^="icon-g5-"],
            [class*=" icon-g5-"] {
                top: 50%;
                left: 25%;
            }
        }
    }

    &.grid-dimension-2x2,
    &.grid-dimension-4x2 {
        .title-icon-view {
            height: ($g5ModuleUnit * 2) - ($g5ModuleGutter * 2);
            line-height: ($g5ModuleUnit * 2) - ($g5ModuleGutter * 2);

            h3 {
                top: 198px; // magic number
                padding: 0 $g5ModulePadding;
                max-height: nth($g5ModuleTitleFontSizes, 3) * 1/*.25*/ * 2; // we're going to assume that the default font size is chosen thoughtfully so 2 rows fit nicely under the icon
                // font-size: 42px; // magic number // see font-sizes section below
            }

            [class^="icon-g5-"],
            [class*=" icon-g5-"] {
                // NOTE: icon-g5-drawtool sits on the baseline. The default measurement is calibrated for that icon at a 196px font-size (2x2 size)
                @include g5HomeAppIconBoxReflect($adjust: -96px);
            }
            @include module_titleIconViewFonticonsSizes(2);
        }
    }

    &.grid-dimension-4x4 {
        .title-icon-view {
            height: ($g5ModuleUnit * 4) - ($g5ModuleGutter * 2);
            line-height: ($g5ModuleUnit * 4) - ($g5ModuleGutter * 2);

            h3 {
                top: 436px; // magic number
                padding: 0 ($g5ModulePadding * 2);
                max-height: nth($g5ModuleTitleFontSizes, 5) * 1/*.25*/ * 2; // we're going to assume that the default font size is chosen thoughtfully so 2 rows fit nicely under the icon
                // font-size: 64px; // magic number // see font-sizes section below
            }

            [class^="icon-g5-"],
            [class*=" icon-g5-"] {
                // NOTE: icon-g5-drawtool sits on the baseline. The default measurement is calibrated for that icon at a 398px font-size (4x4 size)
                @include g5HomeAppIconBoxReflect($adjust: -182px);
            }
            @include module_titleIconViewFonticonsSizes(4);
        }
    }

    // icon-view font sizes
    @include module_titleIconViewFontSizesWeights($force: true);


    //MODULE ALERTS
    .alert {
        display: none;
        margin: 5px;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
    }

    //MODULE BACKDROP
    .module-backdrop {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        @include opacity(0.5);
        background: #000;
    }

} // /.module
