// Partial-specific variables
// =========================
// NOTE: most of this was lifted from bootstrap/_progress-bars. I had to move it over so a) we could customize, and b) we could use the $experimental-support-for-svg: true; variable
$progressBars_backBorderRadius: $progressBar_baseBorderRadius !default;

$progressBars_backBgColor: #f5f5f5 !default;
$progressBars_backGradMeta: top !default;
$progressBars_backGradStops: $progressBars_backBgColor, #f9f9f9 !default;

$progressBars_barBgColor: $linkColor !default;
$progressBars_barGradMeta: top !default;
$progressBars_barGradStops: false !default; // let the helper generate this

$progressBars_barDangerBgColor: #ee5f5b !default;
$progressBars_barDangerGradMeta: $progressBars_barGradMeta !default;
$progressBars_barDangerGradStops: $progressBars_barDangerBgColor, #c43c35 !default;

$progressBars_barSuccessBgColor: #62c462 !default;
$progressBars_barSuccessGradMeta: $progressBars_barGradMeta !default;
$progressBars_barSuccessGradStops: $progressBars_barSuccessBgColor, #57a957 !default;

$progressBars_barInfoBgColor: #5bc0de !default;
$progressBars_barInfoGradMeta: $progressBars_barGradMeta !default;
$progressBars_barInfoGradStops: $progressBars_barInfoBgColor, #339bb9 !default;

$progressBars_barWarningBgColor: lighten($orange, 15%) !default;
$progressBars_barWarningGradMeta: $progressBars_barGradMeta !default;
$progressBars_barWarningGradStops: $progressBars_barWarningBgColor, $orange !default;

// Global variables (overridden for this partial only)
// =========================

// Partial-specific code
// ==================================================


// COLORS FOR THE VARIOUS BOOTSTRAP BARS

// THE BARS
// --------

// Outer container
.progress {
    filter: none;
    @include border-radius($progressBars_backBorderRadius);
    @include progressBarHelper($progressBars_backBgColor, $progressBars_backGradMeta, $progressBars_backGradStops);
}

// Bar of progress
.progress .bar {
    // futzing with text alignment
    margin-left: -3px;
    padding-right: 3px;
    max-width: 100%;
    text-align: right;
    text-indent: 6px;
    @include box-sizing(content-box);

    filter: none;
    @include progressBarHelper($progressBars_barBgColor, $progressBars_barGradMeta, $progressBars_barGradStops);
}
// COLORS
// ------
// Danger (red)
.progress-danger .bar, .progress .bar-danger {
    @include progressBarHelper($progressBars_barDangerBgColor, $progressBars_barDangerGradMeta, $progressBars_barDangerGradStops);
}
// Success (green)
.progress-success .bar, .progress .bar-success {
    @include progressBarHelper($progressBars_barSuccessBgColor, $progressBars_barSuccessGradMeta, $progressBars_barSuccessGradStops);
}
// Info (teal)
.progress-info .bar, .progress .bar-info {
    @include progressBarHelper($progressBars_barInfoBgColor, $progressBars_barInfoGradMeta, $progressBars_barInfoGradStops);
}
// Warning (orange)
.progress-warning .bar, .progress .bar-warning {
    @include progressBarHelper($progressBars_barWarningBgColor, $progressBars_barWarningGradMeta, $progressBars_barWarningGradStops);
}

// ADD ANY CUSTOM BARS HERE USING EITHER OF THE progerssBarHelper() OR progressBarHelperFull() MIXINS
